biblioteca.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteca">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="libros">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="libro">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="titulo" type="xs:string" />
                    <xs:element name="capitulos">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="capitulo">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="titulo" type="xs:string" />
                                <xs:element name="indice" type="xs:string" />
                                <xs:element name="sinopsis" type="xs:string" />
                                <xs:element name="contenido_Capitulo">
                                  <xs:complexType>
                                    <xs:attribute name="enlace" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="numero_paginas" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="contenidos">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="contenido">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Id" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:ID">
                        <xs:pattern value="[L][0-9]{4}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="tipo_clase" type="xs:string" use="required" />
                  <xs:attribute name="numero_paginas" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="revistas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="revista">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="titulo" />
                    <xs:element name="numero_Revista" />
                    <xs:element name="indice" />
                    <xs:element name="secciones">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="seccion">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="contenido_Seccion">
                                  <xs:complexType>
                                    <xs:attribute name="enlace" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="numero_paginas" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="contenido">
                      <xs:complexType>
                        <xs:attribute name="referencia" type="xs:string" use="required" />
                        <xs:attribute name="Id" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:ID">
                              <xs:pattern value="[R][0-9]{4}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>                      
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:string" use="required" />
                  <xs:attribute name="tipo_clase" type="xs:string" use="required" />
                  <xs:attribute name="numero_paginas" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="periodicos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="periodico">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indice" type="xs:string" />
                    <xs:element name="secciones">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="seccion">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="articulos">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="articulo">
                                        <xs:complexType>
                                          <xs:attribute name="enlace" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="tipo" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="contenido">
                      <xs:complexType>
                        <xs:attribute name="enlace" type="xs:string" use="required" />
                        <xs:attribute name="Id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:ID">
                        <xs:pattern value="[P][0-9]{4}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>                  
                  <xs:attribute name="tipo_clase" type="xs:string" use="required" />
                  <xs:attribute name="fecha_publicacion" type="xs:date" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>







